<p>
    We'd like to confirm that you prefer using {{NewEmail}} as your email for Plotden.<br><br>
    If you do not want to update your email address and wish to keep using your current address, simply ignore this email and no changes will be made to your account.<br><br>
    Otherwise, use the link below to confirm:
    <ul>
        <li><a href="{{UpdateLink}}">{{UpdateLink}}</a></li>
        <li>This link will expire in {{TimeValue}} {{TimeUnit}}.</li>
    </ul>
    If you did not request this:
    <ul>
        <li>Someone may have entered your email address by mistake. You can safely ignore this email.</li>
    </ul>
</p>