<p>
    Someone recently tried to create a new Plotden account using this email address.<br><br>
    If this was you:
    <ul>
        <li>You already have an account. Sign in using your password at <a href="plotden.com/signin">plotden.com/signin</a>, or use "Forgot Password?" if you've forgotten it.</li>
    </ul>
    If this was not you:
    <ul>
        <li>Someone may have accidentally entered your email address. You can safely ignore this email, as no new Plotden account was created.</li>
        <li>If you're concerned about your account security, consider reviewing or updating your account information.</li>
    </ul>
    <i>You can turn off these attempted signup emails in the Notifications section of your Account Settings.</i>
</p>