<p>
    Someone recently tried to create a new Plotden account using this email address.<br><br>
    If this was you:
    <ul>
        <li>You already have an account. Finish setting it up using the link below:</li>
        <li><a href="{{ResumeLink}}">{{ResumeLink}}</a></li>
        <li>This link will expire in {{TimeValue}} {{TimeUnit}}.</li>
    </ul>
    If this was not you:
    <ul>
        <li>Someone may have accidentally entered your email address when signing up. No new Plotden account was created.</li>
        <li>However, we recommend that you finish setting up your account to secure it.</li>
    </ul>
</p>