<p>
    We've received a request to reset your password.<br><br>
    Use the link below to complete the reset:
    <ul>
        <li><a href="{{ResetLink}}">{{ResetLink}}</a></li>
        <li>This link will expire in {{TimeValue}} {{TimeUnit}}.</li>
    </ul>
    If you did not request this:
    <ul>
        <li>Someone may have entered your email address by mistake. You can safely ignore this email.</li>
        <li>However, we recommend that you sign in to review your recent account activity or enable additional security options.</li>
    </ul>
</p>