<p>
    Someone recently tried to create a Plotden account using this email address.<br><br>
    If this was you:
    <ul>
        <li>An account with this email already exists. Please click the link below to finish setting up your Plotden account:</li>
        <li><a href="{{SignupResumeLink}}">{{SignupResumeLink}}</a></li>
        <li>Note that the link will expire in {{TimeValue}} {{TimeUnit}}.</li>
    </ul>
    If this was not you:
    <ul>
        <li>Someone may have accidentally entered your email address when signing up. No new Plotden account was created.</li>
        <li>However, we recommend that you finish setting up your account to secure it.</li>
    </ul>
</p>