<p>
    Someone recently tried to create a Plotden account using this email address.<br><br>
    If this was you:
    <ui>
        <li>An account with this email already exists. Please click the link below to finish setting up your Plotden account:</li>
        <li><a href="{{SignupResumeLink}}">{{SignupResumeLink}}</a></li>
        <li>Note that the link will expire in {{TimeValue}} {{TimeUnit}}.</li>
    </ul>
    If this was not you:
    <ui>
        <li>Someone may have accidentally entered your email address. You can safely ignore this email, as no new Plotden account was created.</li>
        <li>If you're concerned about your account security, you may want to review or update your account settings.</li>
    </ul>
</p>